.App {
  text-align: center;
  box-sizing: border-box;
}

@keyframes profilePicture {
  from {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: solid 1px lightgray;
  }
  to {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: solid 3px lightgray;
  }
}

.userImage {
  animation: profilePicture 2s ease-out;
  animation-fill-mode: both;
}

.temp {
  position: relative;
}

.temp::before {
  height: 100%;
  content: "";
  position: absolute;
  align-content: center;
  border: solid 2px lightgray;
}

.expLists {
  padding-top: 50px;
}

.mycontent-description {
  text-align: left;
  padding: 10px;
}

.mycontent-info {
  background-color: lightgray;
  padding: 10px 10px 5px 10px;
  text-align: left;
}

.mycontent-info > div {
  padding-bottom: 5px;
}

.mycontent-info-icon {
  padding-right: 10px;
  width: 20px;
  display: inline-block;
}

.header {
  border-top-right-radius: 7px;
  display: flex;
  border-top-left-radius: 7px;
  flex-direction: column;
  background-image: linear-gradient(90deg, #1f374b, #335979);
  color: white;
}

.headerText {
  margin: 10px;
}


.mycontentDescription {
  text-align: left;
  padding: 10px;
}


.mycontentInfo {
  background-color: lightgray;
  padding: 10px 10px 5px 10px;
  text-align: left;
}

.mycontentInfo > div {
  padding-bottom: 5px;
}

.mycontentInfoIcon {
  padding-right: 10px;
  width: 20px;
  display: inline-block;
}


